/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");

h2#jqw{
  font-family: 'Yantramanav';
  font-size: 55px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  width: 30%;
}

.create{
  
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.225em;
  
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}